# tasks file for r
---
- name: packages | copy littler scripts
  template:
    src: "usr/local/bin/{{ item.src }}"
    dest: "/usr/local/bin/{{ item.dest }}"
    owner: root
    group: root
    mode: 0755
  with_items:
    - src: R-install-package.j2
      dest: R-install-package
    - src: R-remove-package.j2
      dest: R-remove-package

- name: packages | install
  command: "R-install-package {{ item.name }}{% if item.lib is defined %} {{ item.lib }}{% endif %}{% if item.repos is defined %} {{ item.repos }}{% endif %}"
  register: r_install_package
  changed_when: "r_install_package.stdout_lines[-1] is defined and r_install_package.stdout_lines[-1] == 'changed'"
  with_items: r_packages
  when: item.state is undefined or item.state == 'present'
  tags:
    - r-packages-install

- name: packages | remove
  command: "R-remove-package {{ item.name }}{% if item.lib is defined %} {{ item.lib }}{% endif %}"
  register: r_remove_package
  changed_when: "r_remove_package.stdout_lines[-1] is defined and r_remove_package.stdout_lines[-1] == 'changed'"
  with_items: r_packages
  when: item.state is defined and item.state == 'absent'
  tags:
    - r-packages-remove
