# tasks file for r
---
- name: repository | add public key
  apt_key:
    id: E084DAB9
    keyserver: keyserver.ubuntu.com
    state: present
  tags:
    - r-repository-public-key

- name: repository | add cran-r
  apt_repository:
    repo: "{{ item.type }} {{ item.url }}"
    state: present
    update_cache: yes
  with_items: r_repository
  tags:
    - r-repository-add
